Package: com.strugglingdoge.igtvbegone
Name: IGTVBeGone
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: StrugglingDoge
Author: StrugglingDoge
Section: Tweaks
